<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>TODO List</title>
</head>

<body>
    <div class="box" id="heading">
        <h1>
            <%= HEADER %>
        </h1>
    </div>
    <div class="box">
        <% itemArray.forEach(item => { %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
                    <p> <%=item.name%> </p>
                </div>
                <input type="hidden" name="listname" value="<%= HEADER %>">
            </form>
       <% }); %>
        <form class="item" action="/" method="post">
            <input type="text" name="item" id="item" autocomplete="off" placeholder="New Item">
            <button type="submit" name="list" value="<%= HEADER %>">+</button>
        </form>
    </div>
</body>

</html>